
html , body > div, #app{
  width: 100%;
  height: 100%;
  background: #262626;
  display: flex;
  justify-content: center;
}
body{
  width: 100%;
  margin: 10px;
}
#app > div{
  background: #150d25;
  width: 500px;
  height: 100%;
}

